{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Popular Movies</h1>

    <form action="{{ path('search_movies') }}" method="get">
        <label>
            <input type="text" name="query" placeholder="Rechercher un film...">
        </label>
        <button type="submit">Rechercher</button>
    </form>

    <div class="movies-grid">
        {% for movie in movies %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <div class="movie-info">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.release_date|date('d/m/Y') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .movies-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding: 20px;
        }
        .movie-card {
            background: #f0f0f0;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }
        .movie-card img {
            width: 100%;
            height: auto;
        }
        .movie-info {
            padding: 15px;
        }
        .movie-info h2 {
            margin: 0;
            font-size: 18px;
        }
        .movie-info p {
            margin: 10px 0 0;
            font-size: 16px;
        }
    </style>
{% endblock %}