{% extends 'base.html.twig' %}

{% block title %}Hello MeiliSearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello MeiliSearchController!</h1>
    <p>Nombre de résultats  {{ hits['nbHits'] }}</p>
    <form action="{{ path('app_meili_search') }}" method="get">
        <label>
            <input type="text" name="query" placeholder="Rechercher..." required>
        </label>
        <button type="submit">Recherche</button>
    </form>
    Tous les résultats
    {% for hit in hits['hits'] %}
        <ul>
            <li>{{ hit['name'] }}</li>
        </ul>
    {% endfor %}

</div>
{% endblock %}
